<% provide(:title, "Sign in") %>
<h1>Sign in</h1>

<div class="row">
  <div class="col-lg-4 col-md-4 col-centered">
    <%= form_for(:session, url: sessions_path) do |f| %>

      <%= f.label :email %>
      <%= f.text_field :email, :class => 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, :class => 'form-control' %>
    

    <div class="col-lg-8 col-md-8 col-centered">
      <%= f.submit "Sign in", class: "btn btn-large btn-primary" %>
      
    <% end %>
    </br>
    </br>
    <p>New user? <%= link_to "Sign up now!", signup_path %></p>
    </div>
  </div>
</div>