<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
        <h5><%= @user.email %></h5>
    </section>
  </aside>
  <div class="span8">
    <% if @user.consults.any? %>
      <h3>Consults (<%= @user.consults.count %>)</h3>
      <ol class="consults">
        <%= render @consults %>
      </ol>
      <%= will_paginate @consults %>
    <% end %>
  </div>
</div>
</div>