<%= form_for [@company, @consult] do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">

  <%= f.label :subject, "Subject" %>
  <%= f.text_field :subject %>

  <%= f.label :description, "Description" %>
  <%= f.text_area :description, size: "25x5" %>
  
  <h2><%= @company.name %> Customer</h2>
  <%= f.collection_select(:customer_id, @users.all, :id, :name) %>

  <h2>Alpine Data Scientist</h2>
  <%= f.collection_select(:datascientist_id, User.datascientists.all, :id, :name) %>

  <%= f.label :requested_length, 'Meeting length (hours)?' %>
  <%= f.select(:requested_length, @requested_lengths.map { |value| [ value, value ]}) %>

  <%= f.label :requested_date_field, 'What day you want to meet?' %>
  <%= f.text_field :requested_date_field, :class => 'form-control date' %>

  <%= f.label :requested_time_field, 'What time (Pacific)?' %>
  <%= f.text_field :requested_time_field, :class => 'form-control timepicker', :id => 'timeInput' %>

  </br>


  <%= f.submit "Submit", class: "btn btn-large btn-primary" %>
  </div>
<% end %>