<%= form_for [@company, @consult] do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">

  <%= f.label :subject, "How can we help?" %>
  <%= f.text_field :subject %>

  <%= f.label :description, "Description" %>
  <%= f.text_area :description, size: "25x10" %>

  <%= f.label :requested_length, 'Meeting length (hours)?' %>
  <%= f.select(:requested_length, @scheduled_lengths.map { |value| [ value, value ]}) %>

  <%= f.label :requested_date, 'What day you want to meet?' %>
  <%= f.text_field :requested_date, :class => 'scheduled_date' %>

  <%= f.label :requested_time, 'What time (Pacific)?' %>
  <%= f.text_field :requested_time, :class => 'scheduled_time' %>


  <%= f.submit "Create new consult", class: "btn btn-large btn-primary" %>
  </div>
<% end %>