<% provide(:title, @company.name) %>
<h1><%= @company.name %></h1>
<h2 id="entitlements-remaining"><%= @company.entitlements %> Entitlements Remaining</h2>
<h2><%= link_to "#{@company.users.count} Company Members", company_users_path(@company.id) %></h2>
<div class="row">
  <% if current_user.company_admin? || alpine_session? %> 
    

    <div class="col-lg-9 col-lg-push-3 col-md-9 col-md-push-3">
      <h3>Consults (<%= link_to @company.consults.count, company_consults_path(@company.id) %>)</h3>
      <%= render 'shared/consults_table' %>
      <div class="text-center">
      <%= will_paginate @consults, renderer: BootstrapPagination::Rails %>
    </div>

    </div>
    <aside class="col-lg-3 coll-lg-offset-0 col-lg-pull-9 col-md-3 col-md-offset-0 col-md-pull-9 col-sm-6 col-sm-offset-3">
      <h3>New <%= @company.name %> User</h3>
      <section>
      <%= render 'new_user_form' %>
      </section>
    </aside>


  <% else %>

    <div class="col-lg-12 col-md-12">
      <h3>Consults (<%= link_to @company.consults.count, company_consults_path(@company.id) %>)</h3>
      <%= render 'shared/consults_table' %>
      <div class="text-center">
      <%= will_paginate @consults, renderer: BootstrapPagination::Rails %>
      </div>
    </div>

  <% end %>
</div>
