<% provide(:title, @company.name) %>
<h1>Company: <%= @company.name %></h1>
<h1>Entitlements Remaining: <%= @company.entitlements %></h1>
<div class="row">
  <% if current_user.company_admin? %> 
    <aside class="span4">
      <section>
      <%= render '/shared/new_user_form' %>
      </section>
    </aside>

    <div class="span8">
      <% if @current_user.consults.any? %>
        <h1>Consultations</h1>
        <% if @status == "Open" %>
          <p><%= link_to "View Closed Tickets", {:status => "Closed"} %></p>
        <% else %>
          <p><%= link_to "View Open Tickets", {:status => "Open"} %></p>
        <% end %>
        <%= render 'shared/consults_table' %>
       <% end %>
    </div>


  <% else %>

    <div class="span12">
      <%= render 'shared/consults_table' %>
    </div>
  <% end %>
</div>
