<tr>
  <td class="cases">
    <span class="content"><%= link_to consult.subject, [@company, consult], 'data-no-turbolink' => true %> %></span>
  </td>
  <td class="cases">
    <span class="content"><%= consult.updated_at %></span>
  </td>
  <td class="cases">
    <span class="content"><%= consult.datascientist.name %></span>
  </td>
  <td class="cases">
    <span class="content"><%= link_to consult.creator.name, consult.creator %></span>
  </td>
  <td class="cases">
    <span class="content"><%= consult.updated_at %></span>
  </td>
  <td class="cases">
    <span class="content"><%= consult.datascientist.name %></span>
  </td>
</tr>

