<div class="row">
<%= form_for [@company, @consult] do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="col-lg-5 col-lg-offset-1 col-md-6 col-sm-6">

  <%= f.label :subject, "Subject" %>
  <%= f.text_field :subject, :class => 'form-control' %>

  <%= f.label :description, "Description" %>
  <%= f.text_area :description, size: "40x8", :class => 'form-control' %>
  </div>
  <div class="col-lg-5 col-md-6 col-sm-6">

  <%= f.label :requested_length, 'Meeting length (hours)?' %>
  <%= f.select(:requested_length, @length_choices.map { |value| [ value, value ]}, {}, {:class => 'form-control'}) %>


  </br>

  <%= f.label :consult_date_field, 'What day you want to meet?' %>
  <%= f.text_field :consult_date_field, :class => 'form-control date' %>


  </br>

  <%= f.label :consult_time_field, 'What time (Pacific)?' %>
  <%= f.text_field :consult_time_field, :class => 'form-control timepicker', :id => 'timeInput' %>

  </div>
  </div>

</br>
<div class="row">
  <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 col-centered">
<%= f.submit "Submit", class: "btn btn-large btn-primary" %>
</div>
</div>

<% end %>