<% provide(:title) %>
<h1><%= @consult.subject %> </h1>
<p>  <%= @current_user.name %></p>
<div class="row">
  <h2>Requester: <%= @consult.customer.name %> </h2>
  <h2>Created By: <%= @consult.creator.name %> </h2>
  <h2>Data Scientist: <%= @consult.datascientist.name %> </h2>
  <div class="span8">
    <% if @users.any? %>
      <h3>Members <%= @users.count %> </h3>
      <ol class="users">
        <%= render @users %>
      </ol>
      <%= will_paginate @users %>
    <% end %>
  </div>
</div>
